<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>cmdq</title>
  <meta name="description" content="A command queueing server">
  <meta name="author" content="Jonathan Fok kan">

  <meta property="og:title" content="cmdq">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <!-- <meta property="og:image" content="image.png"> -->

  <!-- <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>

  <h3>Running Tasks</h3>

  <table>
    <tr>
      <th>path</th>
      <th>process</th>
      <th>tries</th>
      <th>last attempt</th>
    </tr>
    {% for task in running_tasks %}
    <tr>
      <td>{{ task.path }}</td>
      <td>{{ task.process }}</td>
      <td>{{ task.tries }}</td>
      <td>{{ task.last_attempt }}</td>
    </tr>
    {% endfor %}
  </table>

  <h3>Queued Tasks</h3>

  <table>
    <tr>
      <th>path</th>
      <th>process</th>
      <th>tries</th>
      <th>last attempt</th>
    </tr>
    {% for task in queued_tasks %}
    <tr>
      <td>{{ task.path }}</td>
      <td>{{ task.process }}</td>
      <td>{{ task.tries }}</td>
      <td>{{ task.last_attempt }}</td>
    </tr>
    {% endfor %}
  </table>
  
</body>
</html>
