[project]
name = "git-smart-branch-delete"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[project.scripts]
git-smart-branch-delete = "main:main"
